#body{
    background-color: #1A1A1D; 
    background-image: url('It_wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.header{
    color: #C3073F;
    text-align: center;
    background-color: #1A1A1D;
    
}
.Paragraph-container{
    margin-top: 2%;

}
.Messages{
    text-decoration: none;
    text-align: center;
    color: white;
    
}
tr td {
    padding: 200px 100px;
    border:5px solid burlywood;
    margin: 50px 100px;
    background-color: burlywood;
}
td{
    color:white;
    word-break: keep-all;
    font-size :30px
    
}
tr td a{
    text-align: center;
    text-decoration: none;
    color: #C3073F;

}